// Colors
$primary: #f3f3f3;
$primary-hover: #fff979;
$secondary: #F8F8F8;/*pizza size style*/
$hero-background:#17191A;
$pure: #ffffff;

$dark: #ffffff; /*body color*/
$gray: rgb(45, 199, 45);
$primary_cart: rgb(255, 255, 255);
$primary_button_color:$hero-background;

// Transition 
$smooth: all .3s ease-in-out;
