// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;

$dark: #000000;
$gray: rgb(45, 199, 45);
$primary_cart: rgb(255, 255, 255);

// Transition 
$smooth: all .3s ease-in-out;